<html>
    <body>


        <form action = "/setcookie" method = "POST">
            <p><h3>Enter UserID</h3></p>
            <p><input type = 'text' name = 'nm'/></p>
            Data de Aniversario:
            <input type="date" name="bday"><br>
            <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
            <input type="checkbox" name="vehicle2" value="Car"> I have a car
            <p><input type = 'submit' value = 'Login'/></p>
        </form>

    </body>
</html>